body {
  background: #000000;
  color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-align: center;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  width: 50%;
  margin: auto;
}

.main_div, .loggedin_div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main_div input {
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
  padding: 15px;
  outline: none;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.3s;
}

.main_div input:focus {
  border: 1px solid gray;
}

.main_div button, .loggedin_div button {
  background: #F75D59; 
  color: white;
  border: 1px solid #F75D59; 
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 50%;
  margin: auto;
  transition: 0.3s;
}

.main_div button:hover, .loggedin_div button:hover {
  background: white;
  color: #F75D59;
  border: 1px solid #F75D59;
  cursor: pointer;
}